.hero_Section {
    background-image: url("../../assets/img/hero-img.png");
    background-size: cover;
    background-position: center -60px;
    height: 716px;
    width: auto;
}

.left_hero_Section {
    width: 50%;
    padding: 80px 0;
}

.left_hero_small {
    color: white;
    font-size: 32px ;
    font-weight: 400;
}

.left_hero_big {
    color:  white;
    font-size: 78px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
}

.button_hero {
    margin-top: 40px;
    width: 50%;
    height: auto;
    font-size: 24px ;
    padding: 16px 72px ;
    background-color: white;
    color: #FF914D;
    border-radius: 8px;
}



