.filter_price{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px
}

.filter_price_range {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin-top: 15px;
}

.filter_price_box {
  text-align: center;
  width: 40%;
  font-size: 13px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;   
  color: #3C4242;    
}



