.filter_size_list {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:center;
}

.filter_size_item {
  width: 25%;
  margin: 0 10px 10px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #8c9797 ;
}